.Country {

}

.Country__gallery {

}

.Country__why-visit {
	.Country__why-visit-title {
		margin-top: 0;
	}
}

.Country__available-in {
	margin-top: 30px;

	.btn {
		font-weight: 300;
		padding: 10px 50px;
	}
}

.Country__see-available-places {
    margin: 20px 0px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
}
