body {
  font-family: "Lato";
  font-size: 16px;
  font-weight: 300;
  color: #565a5c;
  padding-top: 50px; }
  body.cream {
    background: #f5f5f5; }

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 400; }

.whiteBg {
  background: white;
  padding: 20px 0px; }

.creamBg {
  background: #f5f5f5;
  padding: 30px 0px;
  border-top: 1px solid #dce0e0; }

.blue {
  color: #0ebae8 !important; }

.blueBg {
  background: #0ebae8; }

.greenBg {
  background: #7bb44b; }

.green {
  color: #7bb44b !important; }

.orangeBg {
  background: #fac426; }

.clear-bordered-button {
  color: white;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 50px; }
  .clear-bordered-button:hover {
    color: #333 !important;
    text-decoration: none;
    background: white;
    border: none; }

.clear-padding-right {
  padding-right: 0 !important; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.row-eq-height {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

#map {
  margin-top: 0;
  height: 100vh;
  width: 100%; }

ul li.striked {
  font-size: 13px;
  font-weight: normal;
  text-decoration: line-through; }

.owl-carousel-slide img {
  width: 100%; }

.bold {
  font-weight: bold; }

.smallBigTitle {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700; }
  .smallBigTitle small {
    font-size: 14px;
    display: block;
    font-weight: normal; }

.scrollDiv {
  height: 100vh;
  overflow: scroll; }

.circle {
  height: 50px;
  width: 50px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px; }
  .circle i {
    color: white; }

.pagination .previous, .pagination .next {
  display: none; }

footer {
  padding: 80px 0px 0px; }
  footer h5 {
    font-weight: bold;
    text-transform: uppercase; }
  footer .Steps .Step {
    margin-bottom: 30px; }
  footer .FooterLinks ul {
    padding-left: 0;
    list-style: none; }
    footer .FooterLinks ul li a {
      color: #333; }
      footer .FooterLinks ul li a:hover {
        color: #333;
        text-decoration: underline; }
  footer .FooterBg {
    width: 100%;
    height: 731px;
    margin-top: -200px;
    background: url("/images/cityBg.jpg") bottom no-repeat; }

.searhProperty {
  padding: 30px 0px;
  margin-top: -106px;
  z-index: 99999;
  position: relative;
  background: rgba(0, 0, 0, 0.5); }
  .searhProperty .form-group {
    width: 100%; }
    .searhProperty .form-group .form-control {
      width: 100%;
      -webkit-appearance: none; }
    .searhProperty .form-group select.input-lg {
      line-height: 26px; }

.home .Property {
  margin: 0 10px; }
  .home .Property .Property__name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px; }
  .home .Property .Property__price {
    font-size: 14px;
    padding: 12px;
    right: 0;
    bottom: 0;
    margin: 0; }

.home .forBuyOrRent {
  padding: 80px 0px; }

.home .featuredProperties {
  padding: 80px 0px; }
  .home .featuredProperties .smallBigTitle {
    text-align: center;
    margin-bottom: 50px; }

.City {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd; }

.City__why-visit .City__why-visit-title {
  margin-top: 0; }

.City__available-in {
  margin-top: 30px; }
  .City__available-in .btn {
    font-weight: 300;
    padding: 10px 50px; }

.City__see-available-places {
  margin: 20px 0px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd; }

.Room {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px; }

.Room__header {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999; }
  .Room__header a {
    color: white;
    display: block; }
    .Room__header a:hover {
      color: white; }

.Room__gallery {
  position: relative; }

.Room__price {
  font-size: 22px;
  color: white;
  font-weight: normal;
  bottom: 20px;
  padding-left: 10px;
  padding: 5px 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5); }

.Room__user {
  position: absolute;
  bottom: -35px;
  right: 10px; }
  .Room__user img {
    border: 2px solid white; }

.Room__footer {
  width: 80%;
  padding: 0px 10px; }

.Room__name {
  font-size: 18px; }
  .Room__name a {
    color: #565a5c; }
    .Room__name a:hover {
      color: #565a5c;
      text-decoration: none; }

.Room__type {
  color: #565a5c; }

.SingleRoom .carousel img {
  width: 100%; }

.SingleRoom__user {
  text-align: center; }
  .SingleRoom__user img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px; }

.SingleRoom__name {
  font-size: 24px;
  color: #565a5c;
  font-weight: normal;
  margin-top: 10px; }

.SigleRoom__country {
  font-size: 13px; }

.SingleRoom__includes {
  margin-top: 30px; }
  .SingleRoom__includes p i.fa, .SingleRoom__includes p span.glyphicon {
    display: block;
    margin-bottom: 10px; }

.SingleRoom__info {
  margin-top: 20px; }

.SingleRoom__info--each {
  padding: 20px 0px;
  border-top: 1px solid #ddd; }
  .SingleRoom__info--each ul {
    list-style: none;
    padding-left: 0px; }
    .SingleRoom__info--each ul li {
      line-height: 30px; }

.SingleRoom__info--gallery .row div[class^="col-"] {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 4px; }
  .SingleRoom__info--gallery .row div[class^="col-"] img {
    width: 100%; }

.SingleRoom__info--gallery .row .lastPhoto .viewPhotos {
  top: -70px;
  position: relative;
  text-align: center; }

.SingleRoom__info--gallery .row .lastPhoto .viewPhotos__link {
  color: white; }
  .SingleRoom__info--gallery .row .lastPhoto .viewPhotos__link:hover {
    color: white;
    text-decoration: underline; }

.SingleRoom__booking {
  margin-top: -65px;
  background: white;
  position: absolute; }
  .SingleRoom__booking form {
    padding: 20px;
    border: 1px solid #ddd; }

.SingleRoom__booking--header {
  color: white;
  padding: 5px 20px;
  background: rgba(0, 0, 0, 0.8); }
  .SingleRoom__booking--header p {
    margin-bottom: 0; }

.SingleRoom__booking--price {
  font-size: 24px; }

.SingleRoom__booking--perNight {
  text-align: right;
  margin-top: 8px; }

.Properties {
  height: 100vh;
  overflow: scroll; }

.Property {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid #ddd; }

.Property__header {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999; }
  .Property__header a {
    color: white;
    display: block; }
    .Property__header a:hover {
      color: white; }

.Property__gallery {
  position: relative; }
  .Property__gallery img {
    width: 100%; }

.Property__price {
  font-size: 22px;
  color: white;
  font-weight: 300;
  bottom: 0;
  margin: 0;
  padding-left: 10px;
  padding: 5px 10px;
  position: absolute; }

.Property__price--for-rent {
  background: #0ebae8; }

.Property__price--for-sale {
  background: #7bb44b; }

.Property__agent {
  position: absolute;
  bottom: -35px;
  right: 10px; }
  .Property__agent img {
    border: 2px solid white; }

.Property__content {
  padding: 0px 20px 10px; }
  .Property__content ul {
    list-style: none;
    padding-left: 0; }
    .Property__content ul li {
      display: inline-block;
      margin-right: 20px; }

.Property__name {
  font-size: 18px !important;
  text-transform: capitalize !important;
  margin-bottom: 25px; }
  .Property__name a {
    color: #565a5c; }
    .Property__name a:hover {
      color: #565a5c;
      text-decoration: none; }

.page .Property__name {
  font-size: 36px !important;
  color: #565a5c;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 15px; }
  .page .Property__name span {
    color: white;
    font-size: 16px;
    padding: 10px;
    top: -6px;
    position: relative;
    border-radius: 20px; }

.page .Property__quick-info {
  padding-left: 0;
  list-style: none; }
  .page .Property__quick-info li {
    display: inline-block;
    margin-right: 20px; }
    .page .Property__quick-info li i {
      margin-right: 10px; }
  .page .Property__quick-info .Property__quick-info--address {
    text-transform: capitalize; }

.page .Property__gallery-container {
  padding: 40px 0px; }

.page .Property__agent-box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #222126; }

.page .Property__agent {
  text-align: center;
  right: 0;
  bottom: 0;
  position: relative; }
  .page .Property__agent img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; }
  .page .Property__agent p {
    color: white; }
    .page .Property__agent p a {
      color: white; }

.page .Property__description h2 {
  font-weight: 300;
  margin: 40px 0px 40px; }

.page .Property__features h2 {
  margin: 80px 0px 40px; }

.page .Property__features ul {
  list-style: none;
  padding-left: 0px; }
  .page .Property__features ul li {
    line-height: 30px; }

.page .Property__map h2 {
  margin: 80px 0px 40px; }

.page .Property__map #map {
  width: 100%;
  height: 600px !important; }

.page .Property__gallery--grid h2 {
  margin: 80px 0px 40px; }

.page .Property__gallery--grid .row div[class^="col-"] {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 4px; }
  .page .Property__gallery--grid .row div[class^="col-"] img {
    width: 100%; }

.page .Property__gallery--grid .row .lastPhoto .viewPhotos {
  top: -70px;
  position: relative;
  text-align: center; }

.page .Property__gallery--grid .row .lastPhoto .viewPhotos__link {
  color: white; }
  .page .Property__gallery--grid .row .lastPhoto .viewPhotos__link:hover {
    color: white;
    text-decoration: underline; }

.carousel-control.right {
  background-image: none !important; }

.carousel-control.left {
  background-image: none !important; }

.btn {
  border-radius: 3px !important; }

.btn-primary {
  border: 1px solid #0ebae8;
  background: #0ebae8; }

.btn-success {
  border: 1px solid #7bb44b;
  background: #7bb44b; }

.form-control {
  border-radius: 2px; }

.list-group-item:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px; }

.list-group-item:last-child {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px; }

.ui-datepicker.ui-corner-all {
  border-radius: 2px !important; }

.ui-datepicker .ui-widget-header {
  border: none;
  background: none; }
  .ui-datepicker .ui-widget-header .ui-datepicker-title {
    font-size: 14px;
    font-weight: normal; }

.ui-datepicker .ui-datepicker-calendar th {
  font-size: 12px;
  font-weight: normal; }

.ui-datepicker td {
  border: 0 !important;
  padding: 0px !important; }
  .ui-datepicker td span, .ui-datepicker td a {
    padding: .4em .2em !important;
    text-align: center !important; }

.ui-datepicker .ui-state-default,
.ui-datepicker .ui-widget-content .ui-state-default,
.ui-datepicker .ui-widget-header .ui-state-default {
  border: none !important;
  background: none !important; }

.ui-datepicker .ui-state-disabled .ui-state-default {
  background: #AAA !important; }

/*# sourceMappingURL=app.css.map */
